* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20%;
    background-color: black ;
    position: fixed;
    width: 60%;
}

.logo{
    font-family: 'Merienda';
    font-size: 30px;
    font-weight: 700;
    color: red;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover{
    color: red;
}

.inicio{
    height: 100vh;
    background-image: url(../imagens/inicio_background.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    padding: 0 8%;
}

.inicio h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.inicio p {
    font-size: 20px;
    margin-bottom: 30px;
}

.inicio button {
    padding: 12px 28px;
    background-color: red;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.inicio button:hover {
    color: grey;
    background-color: darkred;
}

.sobre h2 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.sobre p {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.cards-sobre {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

h3 {
    font-size: 30px;
    text-align: center;
}
.card {
    background-color: rgb(52, 52, 52);
    padding: 25px;
    border-radius: 25px;
    width: 300px;
    

}

#botao {
    background-color: transparent;
    color: gold;
}