* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20%;
    background-color: black ;
    position: fixed;
    width: 60%;
    top: 0;
}

.logo{
    font-family: 'Merienda';
    font-size: 30px;
    font-weight: 700;
    color: red;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover{
    color: red;
}

.inicio{
    height: 100vh;
    background-image: url(../imagens/inicio_background.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    padding: 0 8%;
}

.inicio h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.inicio p {
    font-size: 20px;
    margin-bottom: 30px;
}

.inicio button {
    font-family: 'Poppins', sans-serif; 
    padding: 12px 28px;
    background-color: red;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s linear;
    width: 170px;
    margin-right: 20px;
}

.inicio button:hover {
    color: rgb(211, 211, 211);
    background-color: rgb(204, 2, 2);
}

#botao-cardapio {
    border: solid 1px gold;
    background-color: transparent;
    color: gold;
}
#botao-cardapio:hover {
    background-color: gold;
    color: black;
}

.sobre{
    padding: 60px 60px;
}
.sobre h2 {
    font-size: 40px;
    margin: 30px 0 15px;
    text-align: center;
}

.sobre p {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    padding: 0px 20% 60px;
}

.cards-sobre {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

h3 {
    font-size: 30px;
    text-align: center;
    color: rgb(255, 217, 0);
}
.card {
    background-color: rgb(52, 52, 52);
    padding: 25px;
    border-radius: 25px;
    width: 300px;
    height: 150px;
    justify-content: center;
    border: solid .5px rgba(255, 217, 0, 0.334);

}
.card p {
    font-size: 18px;
    text-align: center;
    padding: 0 10px;
}

i {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    
}

#iconesobre {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.agendamento {
    background: #181818;
    padding: 100px 8%;
}

.container-agendamento {
    max-width: 900px;
    margin: auto;
    background: #222;
    padding: 50px;
    border-radius: 20px;
}

.texto-agendamento {
    text-align: center;
    margin-bottom: 40px;
}

.texto-agendamento h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.texto-agendamento p {
    color: #bdbdbd;
}

.form-agendamento {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linha {
    display: flex;
    gap: 20px;
}

.campo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #d1d1d1;
}

.form-agendamento input,
.form-agendamento select {
    padding: 16px;
    background: #2b2b2b;
    border: 1px solid #333;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    transition: all .3s linear;
}

.form-agendamento input:focus,
.form-agendamento select:focus {
    border-color: #e63946;
}

.form-agendamento button {
    padding: 16px;
    border: none;
    background: red;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s linear;
}

.form-agendamento button:hover {
    background: rgb(204, 2, 2);
}

@media(max-width: 768px ) {

    .linha{ 
        flex-direction: column;
    }
}

section {
    padding: 100px 8%;
}

.menu h2{
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

#descricao p {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(140, 146, 159);
}

.cards-menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-menu {
    width: 350px;
    background-color: rgb(15, 15, 15);
    border: solid .5px rgba(255, 217, 0, 0.21);
    border-radius: 25px;

    display: flex;
    flex-direction: column;

    transition: all .3s;
}

.card-menu:hover {
    /* transform: translateY(-10px); */
    transform: scale(1.05);
    box-shadow: 0 5px 5px rgba(255, 217, 0, 0.5);
}

#imagemcardapio {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-menu h3 {
    font-size: 21px;
    color: white;
    text-align: left;
}

.card-menu p {
    font-size: 14px;
    line-height: 1.5;
    color: rgb(140, 146, 159);
}

.ver-mais {
    /* align-self: flex-start; */
    padding: 8px 16px;
    width: fit-content;
    background-color: red;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    text-decoration: none;
    transition: all .3s linear;
    margin: 20px auto;
}
.ver-mais:hover {
    color: rgb(211, 211, 211);
    background-color: rgb(204, 2, 2);
}

section {
    padding: 100px 8%;
}

.menu h2{
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

#descricao p {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(140, 146, 159);
}

.cards-menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-menu {
    width: 350px;
    background-color: rgb(15, 15, 15);
    border: solid .5px rgba(255, 217, 0, 0.21);
    border-radius: 25px;

    display: flex;
    flex-direction: column;

    transition: all .3s;
}

.card-menu:hover {
    /* transform: translateY(-10px); */
    transform: scale(1.05);
    box-shadow: 0 5px 5px rgba(255, 217, 0, 0.5);
}

#imagemcardapio {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-menu h3 {
    font-size: 21px;
    color: white;
    text-align: left;
}

.card-menu p {
    font-size: 14px;
    line-height: 1.5;
    color: rgb(140, 146, 159);
}

.ver-mais {
    /* align-self: flex-start; */
    padding: 8px 16px;
    width: fit-content;
    background-color: red;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    text-decoration: none;
    transition: all .3s linear;
    margin: 20px auto;
}
.ver-mais:hover {
    color: rgb(211, 211, 211);
    background-color: rgb(204, 2, 2);
}